@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'League Spartan', san-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

:root {
  --dark: #111;
  --oran-op-1: #ff45001a;
  --oran-op-d: #ff4500cc;
  --oran: #ff4500;
}
body {
  overflow-x: hidden;  
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background: var(--oran-op-d);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}

.floating-bg::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--oran-op-1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

