@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'League Spartan', san-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

:root {
  --dark: #111;
  --oran-op-1: #ff45001a;
  --oran-op-d: #ff4500cc;
  --oran: #ff4500;
  --gold: #ffd700;
}
body {
  overflow-x: hidden;  
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background: var(--oran-op-d);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}

.floating-bg::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--oran-op-1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--dark);
  width: 1.5rem;
  word-wrap: break-word;
  transition: all 0.5s;
}

.navbar-link:hover {
  padding: 7rem 2rem 0 2rem;
  width: 15rem;
  color: var(--oran);
  background-color: var(--dark);
  transition: all 2.5s;
  border-radius: 5rem;
}


@media (max-width: 1400px) {
  .floating-bg {
    top: -120vw;
  }

}

@media (max-width: 1150px) {
  .floating-bg {
    top: -110vw;
  }
}

@media (max-width: 950px) {
  .floating-bg {
    top: -100vw;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 50%;
  }
  .floating-bg {
    top: -90vw;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 45%;
  }
  .floating-bg {
    top: -70vw;
  }
}