@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'League Spartan', san-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

:root {
  --dark-op: #111111cc;
  --dark: #111;
  --gold-op: #ffd900cc;
  --gold: #ffd700;
  --oran-op: #ff4500cc;
  --oran: #ff4500;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-size: #fff;
  position: relative;
}

.floating-bg {
  width: 70rem;
  height: 70rem;
  background: var(--dark-op);
  position: absolute;
  top: 15%;
  left: calc(50% - 35rem);
}

